* {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#netflix-icon {
    width: 14rem;
    height: 8rem; 
    background-color: rgb(0, 0, 0, 0.01);
}

#dropdown-signup-btn-container {
    display: flex;
    align-items: center;
    padding-right: 10%;
}

#netflix-icon-container {
    padding-left: 10%;
}

#language-dropdown {
    margin-right: 3rem;
    width: 7rem;
    height: 2rem;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    border-radius: 0.3rem;
    background-color: black;
    color: aliceblue;
}

#sign-up-btn {
    width: 5rem;
    height: 2rem;
    font-weight: 500;
    font-size: 1rem;
    background-color: red;
    color: aliceblue;
    border-radius: 0.3rem;
    border: none;
}

#sign-up-btn:hover {
    background-color: rgb(255, 0, 0, 0.9);
    transition-duration: 0.3s;
    cursor: pointer;
}

#main-heading {
    color: aliceblue;
    font-size: 1.7rem;
}

#main-container {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#sub-heading {
    margin-top: 1rem;
    color: aliceblue;
    font-size: 1.3rem;
}

#email-heading {
    color: aliceblue;
    margin-top: 1rem;
    font-size: 1.5rem;
}

#email-btn-container {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
}

#email-input {
    background-color: rgba(255, 255, 255, 0.1);
    width: 20rem;
    height: 3rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    padding-left: 1rem;
    border-radius: 0.3rem;
    color: aliceblue;
    border: 0.05rem solid;
    border-color: aqua;
}

#getstarted-btn {
    background-color: red;
    width: 13rem;
    height: 3.35rem;
    color: aliceblue;
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: 0.3rem;
    /* padding-inline: 2rem; */
    border: none;
}

#getstarted-btn[placeholder] {
    color: red;
}

#getstarted-btn i {
    background-color: red;
}

#getstarted-btn:hover {
    background-color: rgb(255, 0, 0, 0.9);
    transition-duration: 0.3s;
    cursor: pointer;
}

#container {
    height: 100vh;
    background-image: url("Untitled\ design\ \(3\).png");
    background-size: cover;
}