* {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#netflix-icon {
    width: 9rem;
    height: 5rem;
    background: none;
    color: red;
    fill: currentColor;
}

#dropdown-signup-btn-container {
    display: flex;
    align-items: center;
    padding-right: 10%;
}

#netflix-icon-container {
    padding-left: 10%;
}

#language-dropdown {
    margin-right: 3rem;
    width: 7rem;
    height: 2rem;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    border-radius: 0.3rem;
    background-color: black;
    color: aliceblue;
}

#sign-up-btn {
    width: 5rem;
    height: 2rem;
    font-weight: 500;
    font-size: 1rem;
    background-color: red;
    color: aliceblue;
    border-radius: 0.3rem;
    border: none;
}

#sign-up-btn:hover {
    background-color: rgb(255, 0, 0, 0.9);
    transition-duration: 0.3s;
    cursor: pointer;
}

#main-heading {
    margin-top: 5rem;
    color: aliceblue;
    font-size: 1.7rem;
    text-align: center;
}

#main-container {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sub-heading {
    margin-top: 1rem;
    color: aliceblue;
    font-size: 1.3rem;
    text-align: center;
}

#email-heading, #email-heading-2 {
    color: aliceblue;
    margin-top: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

#email-btn-container, #email-btn-container-2 {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
}

#email-input, #email-input-2 {
    height: 3.7rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.3rem;
    padding-left: 1rem;
    border: rgba(255, 255, 255, 0.1);
    color: aliceblue;
    font-size: 1.2rem;
}

#email-input:focus, #email-input-2:focus {
    outline: none;
}

#getstarted-btn, #getstarted-btn-2 {
    background-color: red;
    width: 13rem;
    height: 3.9rem;
    color: aliceblue;
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: 0.3rem;
    border: none;
}

#getstarted-btn i, #getstarted-btn-2 i {
    background-color: red;
}

#getstarted-btn:hover, #getstarted-btn-2:hover {
    background-color: rgb(255, 0, 0, 0.9);
    transition-duration: 0.3s;
    cursor: pointer;
}

#container {
    height: 100vh;
    background-image: url("Untitled\ design\ \(3\).png");
    background-size: cover;
}

#email-box, #email-box-2 {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
    width: 25rem;
    height: 3.8rem;
    margin-right: 1rem;
    /* padding-left: 1rem; */
    border-radius: 0.3rem;
    color: aliceblue;
    border: 0.05rem solid;
    border-color: rgb(3, 255, 3);
}

#email-placeholder, #email-placeholder-2 {
    padding-left: 1rem;
    display: none;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
}

/* email-box height: 2.85rem; */
/* email-input height: 2.85rem; */

#page-2, #page-3, #page-4, #page-5 {
    height: 75vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: 0.5rem solid rgba(128,128,128,0.4);
}

#page-2-text-area-main-heading, #page-3-text-area-main-heading, #page-4-text-area-main-heading, #page-5-text-area-main-heading {
    margin-bottom: 1rem;
    font-size: 3rem;
}

#page-2-text-area, #page-3-text-area, #page-4-text-area, #page-5-text-area {
    color: aliceblue;
    width: 40rem;
}

#page-2-text-area-sub-heading, #page-3-text-area-sub-heading, #page-4-text-area-sub-heading, #page-5-text-area-sub-heading {
    font-size: 1.7rem;
}

#page-6 {
    padding-top: 4rem;
    border-top: 0.5rem solid rgba(128,128,128,0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: aliceblue;
}

#page-6-main-heading {
    font-size: 3rem;
}

#page-6-question-1 {
    margin-top: 2rem;
}

#page-6-question-1,
#page-6-question-2,
#page-6-question-3,
#page-6-question-4,
#page-6-question-5,
#page-6-question-6 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    height: 5.3rem;
    background-color: rgba(128,128,128,0.4);
    margin-bottom: 0.5rem;
    padding-left: 2rem;
    font-size: 1.7rem;
}

#page-6-question-1:hover,
#page-6-question-2:hover,
#page-6-question-3:hover,
#page-6-question-4:hover,
#page-6-question-5:hover,
#page-6-question-6:hover {
    transition-duration: 0.2s;
    cursor: pointer;
    background-color: rgba(128,128,128,0.7);
}

#page-6 i {
    padding-right: 2rem;
}

#page-6-ans-1,
#page-6-ans-2,
#page-6-ans-3,
#page-6-ans-4,
#page-6-ans-5,
#page-6-ans-6 {
    width: 75%;
    background-color: rgba(128,128,128,0.4);
    margin-bottom: 0.9rem;
    padding-inline: 1rem;
    padding-block: 0.6rem;
    font-size: 1.7rem;
}

#getstarted-btn-2 {
    padding-left: 1.4rem;
    width: 13.5rem;
}

#page-4-image-area{
    position: relative;
}

#page-4-image-area video {
    position: absolute;
    bottom: 217px;
    right: 124px;
    width: 25rem;
    opacity: 0.3;
}

#page-4-image-area img {
    opacity: 1;
    position: relative;
}
